<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{$Think.DOMAIN}/css/common.css" rel="stylesheet">
</head>

<!--[CDATA[YII-BLOCK-BODY-BEGIN]]--><body>
<div id="top"></div>
<div id="header">
    <div class="logo">
        <a href="{$Think.DOMAIN}">
            <img src="{$Think.DOMAIN}/images/logo.jpg" alt="">
        </a>
    </div>
    <div class="navigation">
        <a href="{$Think.DOMAIN}">首页</a>

        <!-- 分类信息 Start -->
        {foreach $categories as $category}
            <a href="{$Think.DOMAIN}/category/{$category.cid}.html">{$category.cname}</a>
        {/foreach}
        <!-- 分类信息 End -->
    </div>
</div>

<div id="main">

    <div class="content">
        {__CONTENT__}
    </div>

    <!-- 主体内容部分 End -->

    <!-- 右侧文章列表 Start -->
    <div class="sidebar">
        <div class="item">
            <h2>文章标题</h2>
            <ul class="flink">
                {foreach $latest5 as $article}
                <li>
                    <a href="{$Think.DOMAIN}/article/{$article.aid}.html">{$article.title}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <!-- 右侧文章列表 End -->

</div>

<div id="footer">
    <div class="bgbar"></div>
    <div class="bottom">
        <div class="pos">
            <div class="copyright">© Copyright 2011-2013 www.houdunwang 后盾网</div>
        </div>
    </div>
</div>

</body>
</html>